#window{
  height:98.8vh;
  width: 700px;
  background-color: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 2px 2px #dfdfdf, 
  inset -4px -4px grey, inset 4px 4px #fff;
  padding: 6px;
  position: fixed;
  font-family: DotGothic16;
  
}

#content{
  padding:10px;

}
#stars{
  width: 100%;
  background-color: navy; 
}

#title-bar{
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
  height: 20px;

}

#title-text{
  font-family: DotGothic16;
  font-size: 18px;
  color: white;
  padding:3px;
  margin: 0;
}

#top-section{
 display: flex;
 padding-bottom: 20px;
 background-color: silver;

}

#personal-info-div{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin:0;
}

#pfp{
  width: 70px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  
  
}

#name-info-div{
  margin-left:10px;
}

#name-text{
  margin: 0;
  font-size: 20px;
  margin-top:0px; 
}

#location-text{
  margin: 0;
  font-size: 14px;
}

#linkedin-icon{
  height: 18px;
  display: block;
  /* margin-top: 2.5px;
  margin-left: 6px;
  margin-right: 1px; */
}

#email-icon{
  height: 24px;
  display: block;
}

#location-contact{
  display: flex;
  flex-direction: row;
}


#about-me-div{
  margin-left:16px;
  margin-right:16px;
  margin-top:16px;
}

#about-me-title{
  margin: 0;
  font-size: 20px;
}

#about-me-text{
  margin:0px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  color:black;
  margin-top: 8px;
  padding-left:6px;
}

#divider{
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  height: 1px;

  background-color: silver;

  border-top-style: solid;
  border-top-color:#808080;
  border-top-width: 2px;

  border-bottom-style: solid;  
  border-bottom-color:#DFDFDF;
  border-bottom-width: 2px;

  box-shadow: 2px 0px #DFDFDF;
  
  
}