#window{
  height:98.8vh;
  width: 700px;
  background-color: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 2px 2px #dfdfdf, 
  inset -4px -4px grey, inset 4px 4px #fff;
  padding: 6px;
  position: fixed;
  font-family: DotGothic16;
}

#stars{
  width: 100%;
  background-color: navy; 
}

#title-bar{
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
  height: 20px;

}

#title-text{
  font-family: DotGothic16;
  font-size: 18px;
  color: white;
  padding:3px;
  margin: 0;
}

#pfp-name-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0;
  margin-top: 8px;
}

#pfp{
  width: 70px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  margin-top: 8px;
  margin-left: 16px;
  
}

#name-text{
  margin: 0;
  font-size: 20px;
  margin-left: 10px;
  margin-top:54px; 
}

#about-me-div{
  margin-left:16px;
  margin-right:16px;
  margin-top:16px;
}

#about-me-title{
  margin: 0;
  font-size: 20px;
}

#about-me-text{
  margin:0px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  color:black;
  margin-top: 8px;
  padding-left:6px;
}