
@font-face{
  font-family: 'Pixelated MS Sans Serif';
  src: url(assets/ms-sans-serif-1.otf.woff2);
  font-weight:normal;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}

button{
  background: silver;
  border: none;
  border-radius: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  box-sizing: border-box;
}

button:hover{
  cursor: pointer;
}

main {
  flex: 1;
  overflow-y: auto;
}


#window{
  max-height: 98.7vh;
  width: 625px;
  background-color: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 2px 2px #dfdfdf, 
  inset -4px -4px grey, inset 4px 4px #fff;
  padding: 6px;
  font-family: Pixelated MS Sans Serif;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  margin-right: -5px;
}

#content{
  padding:18px;
  padding-top: 14px;
}

.stars{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  background: #100783;
background: linear-gradient(180deg,rgba(16, 7, 131, 1) 26%, rgba(59, 132, 209, 1) 90%);
}

#title-bar{
  align-items: center;
  background: linear-gradient(90deg, navy, #1084d0);
  display: flex;
  justify-content: space-between;
  padding: 3px 2px 3px 3px;
  height: 20px;
}

#title-text{
  font-family: Pixelated MS Sans Serif;
  font-size: 16px;
  color: white;
  padding:4px;
  margin: 0;
  letter-spacing: 1px; 
  font-weight:600;
}

#title-bar-controls{
  display: flex;
  justify-content: space-between;
}
#title-bar-controls button {
    height: 18px;
    width:20px;
    padding: 0;
    
}

#minimize-button{
  background-image: url(icons/minimize-icon.svg);
  background-position: bottom 3px left 5px;
  background-repeat: no-repeat;
  margin-left: 2px;
  background-size: 40%;
}

#maximize-button{
  background-image: url(icons/maximize-icon.svg);
  background-position: top 3px left 4px;
  background-repeat: no-repeat;
  
  background-size: 55%;
}

#close-button{
  background-image: url(icons/close-icon.svg);
  background-position: top 4px left 4px;
  background-repeat: no-repeat;
  margin-left: 4px;
  background-size: 50%;
  margin-right: 2px;
}

button:active{
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
}

#top-section{
 display: flex;
 padding-bottom: 20px;
 background-color: silver;

}

#personal-info-div{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin:0;
  margin-top: 2px;
}

#pfp{
  margin-bottom: 4px;
  object-fit: contain;
  width: 120px;
  height: 120px;
  background-color: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  
  
}

#name-info-div{
  margin-left:10px;
}

#name-text{
  margin: 0;
  font-size: 22px;
  margin-top:0px; 
}

#location-text{
  margin: 0;
  font-size: 16px;
  height: 20px;
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 4px;
  margin-left: 2px;
}

#linkedin-icon{
  height: 18px;
  display: block;
  /* margin-top: 2.5px;
  margin-left: 6px;
  margin-right: 1px; */
}

#email-icon{
  height: 24px;
  display: block;
}

#location-contact{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


#about-me-div{
  margin-top:16px;
}

#about-me-title{
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

#info-img{
  height: 32px;
  margin-right: 8px;
  margin-left: 4px;
}

#tech-div{
  margin-top: 16px;
}

#tech-img{
  height: 32px;
  margin-right: 8px;
  margin-left: 4px;
}

#tech-title{
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

#tech-grid{
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows:  80px 80px;
  margin-top: 30px;
  row-gap: 28px;
  column-gap: 100px;
  justify-content: center;

}

#tech-grid div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;

}

#tech-grid img{
  height: 50%;
  width: 50%;
  object-fit: contain;
}

#tech-grid p{
  margin: 0;
  padding: 0;
  font-size: 0.55em;
  margin-top: 6px;
}



#about-me-text{
  margin:0px;
  background-color: white;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  color:black;
  margin-top: 8px;
  padding: 4px;
  padding-left:6px;
  font-size: 16px;
  letter-spacing: 0.6px;
}

#projects-title{
  margin: 0;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}

#project-icon{
  height: 32px;
  margin-right: 8px;
  margin-left: 4px;
}

#projects{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.project-img{
  height: 120px;
  
}

#cardinal-calendar-div{
  margin-right:60px;
}

.project-div{
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, 
  inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding:3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

#projects a{
  margin-bottom: -4px;
}

#projects p{
  background-color: white;
  margin: 0;
  width: 100%;
}

.project-description{
  display: flex;
  flex-direction: column;
  padding:3px;
}

.project-info{
  color: #808080;
  font-size: 12px;
}

#divider-2{
  margin-top: 20px;
}

#bottom-section {
  position: sticky;
  bottom: 0;
  background-color: silver;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  border-top: 2px solid #808080;
  box-shadow: inset 0 1px #DFDFDF;
  padding-top: 18px;
}

#resume-button{
  font-size: 16px;
  font-family: Pixelated MS Sans Serif ;
  padding:8px;
}

#bottom-section p{
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}

.divider{
  margin-left: 1px;
  display: flex;
  height: 1px;

  background-color: silver;

  border-top-style: solid;
  border-top-color:#808080;
  border-top-width: 2px;

  border-bottom-style: solid;  
  border-bottom-color:#DFDFDF;
  border-bottom-width: 2px;

  box-shadow: 2px 0px #DFDFDF;
}